@model List<PizzariaBonAppetit.Models.Size>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@if (Model.Any())
{
    <table id="sizes" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Tamanhos</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var size in Model)
            {
                <tr>
                    <td>@size.Name</td>
                </tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
    <p>Sem tamanhos de pizzas no momento.</p>
}


