@model List <PizzariaBonAppetit.Models.Pizza>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<br />
@if (Model.Any())
{
    <table id="pizzas" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Pizzas</th>
                <th style="width: 20PX">REMOVER</th>
            </tr>
        </thead>
        <tbody>
    @foreach (var pizza in Model)
    {
        <tr>
            <td>@Html.ActionLink(pizza.Name, "Details", new { pizza.Id })</td>

            <td style="width: 20px" style="text-align: center">
                <a data-customer-id="@pizza.Id" class="js-delete">
                    <center><i class="material-icons" style="cursor: pointer">delete_forever</i></center>
                </a>
            </td>

        </tr>

    }
        </tbody>
    </table>
}
else
{
    <br />
    <p>Sem pizzas no momento.</p>
}

<p>
    @Html.ActionLink("Nova Pizza", "New", null, new { @class = "btn btn-primary" })
</p>



@section scripts
{
    <script>
        $(document).ready(function () {
            $("#pizzas").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    if (confirm("Tem certeza que quer remover esta pizza?")) {
                        $.ajax({
                            url: "/pizza/delete/" + button.attr("data-customer-id"),
                            method: "GET",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
        });
    </script>
}
