@model List<PizzariaBonAppetit.Models.Employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
@if (Model.Any())
{
    <table  id="employees" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Funcionários</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var func in Model)
            {
              <tr>
                  <td>@func.Name</td>            
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
    <p>Sem funcionários até o momento.</p>
}
