@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
           <h1 class="logo">Bon Appétit </h1>
</div>

<div class="row">
    <div class="col-md-4">

        <div class="img1"><h2 class="title-card col-sm-12">Sabor</h2></div>
 
        <p class="description">
            Saboreie sua pizza feita do jeito que você gosta. Descubra uma variedade de vegetais frescos
            e a delícia de nossas carnes, queijos e molhos. Sem contar na variedade de doces e frutas frescas.
        </p>

         </div>

    <div class="col-md-4">

        <div class="img2"><h2 class="title-card col-sm-12">Qualidade</h2></div>

        <p class="description">
            Além dos ingredientes de qualidade, que contam muito, a longa fermentação da massa - de 24 a 48 horas - deixa a consistência perfeita, e
            sempre com pouca gordura, tanto nos queijos quanto nas carnes 
         
        </p>
    </div>

    <div class="col-md-4">

        <div class="img3"><h2 class="title-card col-sm-12">Tradição</h2></div>

        <p class="description">
          Com mais de 20 anos no mercado, somos referência, pensou em pizza, pensou Bon Appétit.
        </p>
    </div>


</div>