@model List<PizzariaBonAppetit.Models.Employee>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />
@if (Model.Any())
{
    <table  id="employees" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Funcionários</th>
                <th style="width: 20PX">REMOVER</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var func in Model)
            {
              <tr>
                  <td>@Html.ActionLink(func.Name, "Details", new { func.Id })</td>
                  <td style="width: 20px" style="text-align: center">
                      <a data-customer-id="@func.Id" class="js-delete">
                          <center><i class="material-icons" style="cursor: pointer">delete_forever</i></center>
                      </a>
                  </td>
            
            </tr>
            }
        </tbody>
    </table>
}
else
{
    <br />
    <p>Sem funcionários até o momento.</p>
}


<p>
    @Html.ActionLink("Novo Funcionário", "New", null, new { @class = "btn btn-primary" })
</p>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#employees").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    if (confirm("Tem certeza que quer remover este funcionário?")) {
                        $.ajax({
                            url: "/employee/delete/" + button.attr("data-customer-id"),
                            method: "GET",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
        });
    </script>
}
