@model List <PizzariaBonAppetit.Models.Customer>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<br />

@if (Model.Any())
{
    <table id="customers" class="table table-bordered table-hover">
        <thead>
            <tr>
                <th>Nome</th>
                <th style="width: 20PX">REMOVER</th>
            </tr>

        </thead>
        <tbody>
            @foreach (var cliente in Model)
            {
                <tr> 
                    <td valign="middle">@Html.ActionLink(@cliente.Name, "Details", new { cliente.Id })</td>
                    <td style="width: 20px" style="text-align: center">
                        <a data-customer-id="@cliente.Id" class="js-delete">
                            <center><i class="material-icons" style="cursor: pointer">delete_forever</i></center>
                        </a>
                    </td>

                </tr>
            }
        </tbody>
    </table>
}
else
{
    <p>Ainda não existem clientes.</p>
}

<p>
    @Html.ActionLink("Novo Cliente", "New", null, new { @class = "btn btn-primary" })
</p>


@section scripts
{
    <script>
        $(document).ready(function () {
            $("#customers").on("click", ".js-delete",
                function () {
                    var button = $(this);
                    if (confirm("Tem certeza que quer remover este cliente?")) {
                        $.ajax({
                            url: "/customer/delete/" + button.attr("data-customer-id"),
                            method: "GET",
                            success: function () {
                                button.parents("tr").remove();
                            }
                        });
                    }
                });
        });
    </script>
}
